<!DOCTYPE html>

<html>
    
    <h1>This is a testing page.</h1>
    <p> W: forward, A: left, S: backward, D: right, L: raise left hand, R: raise right hand</p>
    <form action="/submit" method="POST">
        <input type="text" id="move" name="move", value="WASD"><br><br>
        <input type="submit" value="submit">
    </form>

    <h2>asved moves: </h2>
    <ul>
        {% for item in move %}
        <li>
            <form action="/addtolist" method="POST" style="display:inline;">
              <input type="hidden" if = "item" name="item" value="{{ item }}">
              <button type="submit" style="background:none; border:none; color:blue; cursor:pointer;">
                {{ item }}
              </button>
            </form>
        </li>
        {% endfor %}
    </ul>

</html>
